
* {
	box-sizing: border-box;
}

.index{
	margin:0 auto;
	max-width: 1280px;
	max-height: 800px;
}

.column1, .column2 {
	float: left;
	width: 50%;
	padding: 10px;
	height: 682px;
	margin-top: 15px;
	border-right: 20px solid white;
}

.row:after {
	content: "";
	display: table;
	clear: both;

}

.column1{
	background-color:#B3284D;
}

.column1 img{
	margin-top: 180px;
	margin-left: 140px;
	height: 320x;
	width: 330px;
}

.column2{
	background-color:#39668F;
	text-align: center;
	font-weight: normal;
	font-size: 2.1em;
	overflow: auto;
}

#screen{
	padding-top: 200px;
	color: #fff;
	font-size: 25px;
}

#all_lessons{
	padding-top: 7px;
}

p{
	margin-top: 280px;
	margin-bottom: 300px;
	margin-right: 50px;
	font-size: 30px;
	font-family:normal;
	text-align: center;
}

table, td, th {
	border: 1px solid #ddd;
	text-align: left;
}

table {
	border-collapse: collapse;
	width: 100%;
}

th{
	text-align: center;
}

th, td {
	padding: 1px;
	font-size: 0.5em;
	color:#fff;
}
